\.gradle
local.properties
gradlew.bat
gradlew
Squore.iml
.idea
.env
.secrets
build
gradle
*.sh
*.log
AndroidManifestUniOfNotthingham.xml
AndroidManifestCourtCare.xml
AndroidManifestWinnerPadel.xml
bin/.brand.txt
bin/.tmp.score
bin/tmp*
bin/window_dump*
cast_messages.txt
docs/99.unclassified.md
docs/_data
docs/_gh_pages
docs/assets/
docs/bare.android.md
docs/cast/.htaccess
docs/cast/caf_receiver_logger.js
docs/cast/cast_dummy.DISABLED.js
docs/cast/cast_svg.html
docs/cast/ittf.scoreboard.png
docs/cast/request_info.php
docs/cast/test.html
docs/combell.https.ssl.md
docs/dist/css/bootstrap.css
docs/ffsquash.explanations.decisions.txt
docs/img/Squore/
docs/img/sb.matches.07.feed.nfc.png
docs/notes.md
docs/phonegap.md
docs/rules.of.singles.squash.2014-en.md
docs/sqv.referee.md
docs/xx.combell.migration.md
proguard-android-optimize.txt
proguard-android.txt
proguard-rules.pro
res/correct*
res/layout/matchwizard.xml
res/notcorrected*
tmp/
wear.notes.txt
winner.padel.notes.md

/google-services.json
