html, body
{
    height:100%;
    background-color: white;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.gui_element {
    position: absolute;
    text-align: center;
/*
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: text-bottom;
*/
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-radius: 10vh;

    /*
    */
}
.center_vertically {
    /* attempt to center text vertically in its element */
    top: 42%;
    transform: translateY(-45%);
    /*
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-45%);
    */
}
.gui_element span {
    display: block;
    position: relative;
    /*
    width: 100%;
    height: 100%;
    border: 1px solid red;
    */

    /*
    margin-top: 50%;
    margin-bottom: 50%;
    display: table;
    box-sizing: border-box; // or content-box
    -moz-box-sizing: border-box; // or content-box
    -webkit-box-sizing: border-box; // or content-box

    */
    border: 0px dotted yellow;
}
#squoreboard_root_view {
    height: 100vh;
    width : 100vw;
    bottom: 0;
}
.namebutton {
    top: 1vh;
    height: 15vh;
    width: 42vw;
    font-size: 10vh;
    font-weight: bold;
    background-color: #4CA3D9;
    border-width: 0px;
}
.namebutton span {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    /*width: 100%; This will cause textfill() to NOT work*/
    border: 0px solid yellow;
}

#txt_player1 { left: 1vw; }
#txt_player2 { right: 1vw; }

.flag {
    position: absolute;
    top: 4vh;
    height: 5vw; width: 6vw;
    border : 0px solid yellow;
    background-size: 100% 100%;
    /*background-size: cover;*/
    /*
    background-color: yellow;
    */
}
#img_flag1 { left: 43.5vw; }
#img_flag2 { right: 43.5vw; }

.gameswonbutton {
    top: 24vh;
    height: 5.5vw; width: 5.5vw;
    font-size: 4vw;
    font-weight: bold;
    background-color: #000000;
    color: #FFFFFF;
}
#btn_gameswon1 { left: 44vw; }
#btn_gameswon2 { right: 44vw; }

.scorebutton {
    top: 18vh;
    bottom: 2vh;
    font-size: 60vh; color: white;
    width: 40vw; border-width: 2vh;
    background-color: #141414;
    border-color: #141414;
}
#btn_score1 { left: 1vw; }
#btn_score2 { right: 1vw; }

.sidebutton {
    height: 16vh;
    width : 16vh;
    font-size: 10vh;
    font-weight: bold;
    /*background-color: #D3D3D3;*/
    background-color: rgba(227, 227, 227, 1.0);
    color: #141414;
    /**
    top: 22vh;  1 + 17 + 1 + 3
    */
    top: 1vw;
}
.sidebutton span {
    display: inline-block;
    vertical-align: middle;
}
#btn_side1 { right: 1vw; }
#btn_side2 { left: 1vw; }

/** gameball, timer, appealdecision */
.message {
    height: 15vh;
    font-size: 10vh;
    border-width: 0px;
    background-color: #D3D3D3;
    color: #141414;
}

#gameBallMessage {
    bottom: 3vh;
    left: 30vw;
    right: 30vw;
}
#btn_timer {
    top: 50vh;
    left: 36vw;
    width: 28vw;
    height: 20vh;
    font-size: 15vh;
}

/* SQUASH ONLY */
.calldecisionmessage {
    top: 50vh;
    width: 35vw;
    display: none;
    font-size: 7vh;
}
#callDecisionMessage1{
    left: 5vw;
}
#callDecisionMessage2{
    right: 5vw;
}
