html, body
{
    height:100%;
    background-color: white;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.gui_element {
    position: absolute;
    text-align: center;
/*
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: text-bottom;
*/
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10vh;

    /*
    */
}
.gui_element span {
    display: block;
    position: relative;
    /*
    width: 100%;
    height: 100%;
    border: 1px solid red;
    */

    /* attempt to center text vertically in its element */
    top: 42%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-45%);
/*
    -o-transform: translateY(-45%);
*/
    /*
    margin-top: 50%;
    margin-bottom: 50%;
    display: table;
    box-sizing: border-box; // or content-box
    -moz-box-sizing: border-box; // or content-box
    -webkit-box-sizing: border-box; // or content-box

    */
}
.digits {
/*
    top: 50%;
*/
}
.side {
/*
    top: 50%;
    vertical-align: -10%;
*/
    font-weight: bold;
}
.name {
/*
    display:inline-block;
    display: table-cell;
    vertical-align: -10%;
*/
    font-weight: bold;
}
#squoreboard_root_view {
    height: 100vh;
    width : 100vw;
    bottom: 0;
}
.namebutton {
    top: 1vh;
    height: 15vh;
    width: 42vw;
    font-size: 10vh;
    background-color: #4CA3D9;
    border-width: 0;
}
#txt_player1 { left: 1vw; }
#txt_player2 { right: 1vw; }

.gameswonbutton {
    top: 3vh;
    height: 5vw; width: 5vw;
    font-size: 4vw;
    background-color: #000000;
    color: #FFFFFF;
}
#btn_gameswon1 { left: 44vw; }
#btn_gameswon2 { right: 44vw; }

.scorebutton {
    top: 18vh;
    bottom: 2vh;
    font-size: 60vh; color: white;
    width: 40vw; border-width: 2vh;
    background-color: #141414;
    border-color: #141414;
}
#btn_score1 { left: 1vw; }
#btn_score2 { right: 1vw; }

.sidebutton {
    height: 17vh;
    width: 17vh;
    font-size: 10vh;
    /*background-color: #D3D3D3;*/
    background-color: rgba(227, 227, 227, 1.0);
    color: #141414;
    /**
    top: 22vh;  1 + 17 + 1 + 3
    */
    top: 1vw;
}
#btn_side1 { right: 1vw; }
#btn_side2 { left: 1vw; }

.message {
    height: 15vh;
    font-size: 10vh;
    background-color: #D3D3D3;
    border-width: 0px;
    color: #141414;
}
#gameBallMessage {
    bottom: 3vh;
    left: 30vw;
    right: 30vw;
}
#btn_timer {
    top: 50vh;
    left: 36vw;
    width: 28vw;
    height: 20vh;
    font-size: 15vh;
}

/* SQUASH ONLY */
.callDecisionMessage {
    top: 50vh;
    width: 30vw;
    display: none;
}
#callDecisionMessage1{
    left: 9vw;
}
#callDecisionMessage2{
    right: 9vw;
}
/*
#timer-dialog, #tiebreak-dialog, #appeal-dialog, #conduct-dialog {
    min-width:480px;
}
#timer-time-left {
    font-size: 10vh;
}
#gamescores td {
    padding: 1vw;
}
.winner {
    background-color: #141414;
    color: white;
}
.loser {
    background-color: white;
    color: #141414;
}
*/
